# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Сборка и бинарники
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/
build/
bin/
obj/

# Временные файлы компилятора Visual Studio
*.obj
*.ilk
*.pdb
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.pch

# Кэш Intellisense, базы данных кода и файлы сборки VS
.vs/
*.opensdf
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

# Логи и отчеты тестирования
*.log
*.tlog
*.lastbuildstate
TestResults/

# Файлы сторонних менеджеров пакетов
vcpkg_installed/
packages/
